## Indeed와 StackoverFlow에서 원하는 채용공고 데이터 수집하기

In [11]:
from ind_scrapper import get_jobs as get_indeed_jobs
from so_scrapper import get_jobs as get_so_jobs
import requests
from save import save_to_file
import pandas as pd

## Indeed 사이트에서 원하는 단어를 검색했을 때 데이터 (직무, 회사, 위치, 구인링크) 출력

In [12]:
indeed_jobs = get_indeed_jobs('데이터 분석')
# 파라미터에 원하는 단어 ex)데이터 분석 검색

Scrapping Indeed page 0
Scrapping Indeed page 1
Scrapping Indeed page 2
Scrapping Indeed page 3
Scrapping Indeed page 4
Scrapping Indeed page 5
Scrapping Indeed page 6
Scrapping Indeed page 7
Scrapping Indeed page 8
there is no company name
Scrapping Indeed page 9
Scrapping Indeed page 10
Scrapping Indeed page 11
Scrapping Indeed page 12
Scrapping Indeed page 13
Scrapping Indeed page 14
there is no company name
Scrapping Indeed page 15
Scrapping Indeed page 16
Scrapping Indeed page 17
Scrapping Indeed page 18
Scrapping Indeed page 19
there is no company name

## StackoverFlow 사이트에서 Python 검색했을 시의 데이터(직무, 회사, 위치, 구인링크) 출력

In [13]:
so_jobs =get_so_jobs('data analyst')
# 파라미터에 원하는 단어 ex)data analyst 검색

Scrapping SO page 0
Scrapping SO page 1
Scrapping SO page 2
Scrapping SO page 3
Scrapping SO page 4
Scrapping SO page 5
Scrapping SO page 6
Scrapping SO page 7
Scrapping SO page 8
Scrapping SO page 9
Scrapping SO page 10
Scrapping SO page 11
Scrapping SO page 12
Scrapping SO page 13
Scrapping SO page 14
Scrapping SO page 15
Scrapping SO page 16
Scrapping SO page 17
Scrapping SO page 18
Scrapping SO page 19
Scrapping SO page 20
Scrapping SO page 21

### 두사이트에서 추출한 데이터 병합

In [14]:
jobs = so_jobs + indeed_jobs

In [ ]:
jobs

### 총 데이터 갯수

In [15]:
len(jobs)

1541

##  csv파일 형식으로 저장

In [16]:
from save import save_to_file

In [17]:
save_to_file(jobs)

## 데이터 프레임으로 출력

In [18]:
import pandas as pd
df = pd.read_csv("jobs.csv")

In [19]:
df

,title,company,location,link
0,Technical Co-Founder / CTO for a Machine Learn...,valora digital.,"Zürich, Switzerland",https://stackoverflow.com/jobs/487470
1,Radio Algorithm Developer,Ericsson,"Stockholm, Sweden",https://stackoverflow.com/jobs/438755
2,Senior Software Development Engineer,Amazon Web Services,"Seattle, WA",https://stackoverflow.com/jobs/451634
3,Software Engineering - Pyspark Development Lead,"JPMorgan Chase Bank, N.A.","Hyderabad, India",https://stackoverflow.com/jobs/487767
4,Oracle DBA/Developer,"JPMorgan Chase Bank, N.A.","Jersey City, NJ",https://stackoverflow.com/jobs/487740
...,...,...,...,...
1536,JAVA 경력 정규직,밀라노상인,서울 금천구,https://kr.indeed.com/%EC%B1%84%EC%9A%A9%EB%B3...
1537,SEM Specialist,Asiance,서울,https://kr.indeed.com/%EC%B1%84%EC%9A%A9%EB%B3...
1538,데이터사이언티스트,Success Korea,서울,https://kr.indeed.com/%EC%B1%84%EC%9A%A9%EB%B3...
1539,[쿠팡] Technical Program Management (Product Eng...,Coupang,서울,https://kr.indeed.com/%EC%B1%84%EC%9A%A9%EB%B3...
1540,모바일 게임 마케팅 전략,유명 모바일 게임기업,NaN,https://kr.indeed.com/%EC%B1%84%EC%9A%A9%EB%B3...